.container {
    margin-top: 15px;
}

.round {
    border-radius: 10px;
}

.btn-sm {
    margin-bottom: 10px;
}

.btn {
    margin: 5px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.preview {
    width: 400px;
    height: 200px;
    margin: auto;
}

.preview img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    border: 1px solid grey;
}