<!-- if we create dynamically a component, we can put this ng-template
    anywhere in this HTML (since it is displayed above everything) -->
<ng-template appPlaceholder></ng-template>

<div class="container">
    <div class="row">

        <div *ngIf="isLoading" class="spinner-container">
            <app-spinner></app-spinner>
        </div>

        <!-- if we want to use an error message in a div in the HTML (not a modal) -->
        <div *ngIf="errorMessage" class="alert alert-danger">
            <button type="button" class="close" aria-label="Close" (click)="onCloseAlert()">
                <span aria-hidden="true">&times;</span>
              </button>
            <h4>An error occured on the server.</h4>
            {{ errorMessage }}
        </div>

        <!-- if we want to use *ngIf, we can insert the modal like this : -->
        <!-- <app-alert [message]="errorMessage" *ngIf="errorMessage"></app-alert> -->

        <form *ngIf="!isLoading" (ngSubmit)="onLogin()" #authForm="ngForm">
            <p>Login to access your recipes.</p>
            <div class="form-group">
                <label for="email" class="col-form-label">Email</label>
                <input type="text" class="form-control" name="email" ngModel email required />
            </div>
            <div class="form-group">
                <label for="password" class="col-form-label">Password</label>
                <input type="password" class="form-control" name="password" ngModel required minlength="6" />
            </div>
            <div>
                <div class="btn-container">
                    <button type="button" class="btn btn-primary" [disabled]="authForm.invalid" (click)="onSignUp()">Sign up</button>
                    <button type="submit" class="btn btn-primary" [disabled]="authForm.invalid">Log in</button>
                </div>
            </div>
        </form>
    </div>
</div>
