<div class="row">
    <div class="col-md-12">
        <img [src]="recipe.imagePath" alt="Recipe picture" class="img-responsive" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>{{ recipe.name }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <!-- <button type="button" appDropdown class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> -->
            <!-- if used without the bootstrap JS code, add our dropdown directive -->
            <button type="button" appDropdown class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Manage Recipe
            </button>
            <div class="dropdown-menu">
                <button type="button" class="dropdown-item" (click)="onAddToShoppingList()">To Shopping List</button>
                <button type="button" class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</button>
                <button type="button" class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{ recipe.description }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Ingredients</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} : {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>