.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    /* transaparent black */
    background: rgba(0, 0, 0, 0.75);
    /* above other elements */
    z-index: 50;
    /* view width/heigth to take all screen, not just the container */
    width: 100vw;
    height: 100vh;
}

.alert-box {
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    padding: 15px;
    /* above the backdrop */
    z-index: 100;
    background: #ffefef;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.alert-box-actions {
    float: right;
}
