<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)="onAdd()" #myShoppingForm="ngForm">
            <div class="row form-group">
                <label class="col-md-3 col-form-label" for="ingredientName">Ingredient Name</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="ingredientName" name="ingredientName" ngModel required />
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-3 col-form-label" for="ingredientAmount">Amount</label>
                <div class="col-md-7">
                    <input class="form-control" type="number" id="ingredientAmount" name="ingredientAmount" ngModel required pattern="^[1-9]+[0-9]*$" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success" type="submit" [disabled]="myShoppingForm.invalid">Add</button>
                    <button class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
